:root {
    --white: rgba(255, 255, 255, 1);
    --black-100: rgba(1, 1, 1, 1);
    --black-80: rgba(52, 52, 52, 1);
    --black-60: rgba(103, 103, 103, 1);
    --black-40: rgba(153, 153, 153, 1);
    --black-20: rgba(204, 204, 204, 1);
    --black-12: rgba(224, 224, 224, 1);
    --primary-100: rgba(237, 1, 127, 1);
    --primary-80: rgba(241, 52, 153, 1);
    --primary-60: rgba(244, 103, 178, 1);
    --primary-40: rgba(248, 153, 204, 1);
    --primary-20: rgba(251, 204, 229, 1);
    --primary-12: rgba(252, 224, 239, 1);
    --text: rgba(54, 57, 64, 1);
    --menu-font-family: "Poppins", Helvetica;
    --menu-font-weight: 900;
    --menu-font-size: 36px;
    --menu-letter-spacing: 0px;
    --menu-line-height: 43px;
    --menu-font-style: normal;
    --subtitle-font-family: "Poppins", Helvetica;
    --subtitle-font-weight: 900;
    --subtitle-font-size: 16px;
    --subtitle-letter-spacing: 0px;
    --subtitle-line-height: 22px;
    --subtitle-font-style: normal;
    --values-font-family: "Poppins", Helvetica;
    --values-font-weight: 900;
    --values-font-size: 40px;
    --values-letter-spacing: 0px;
    --values-line-height: 43px;
    --values-font-style: normal;
    --footer-font-family: "Poppins", Helvetica;
    --footer-font-weight: 900;
    --footer-font-size: 14px;
    --footer-letter-spacing: 0px;
    --footer-line-height: 22px;
    --footer-font-style: normal;
    --footer-menu-font-family: "Poppins", Helvetica;
    --footer-menu-font-weight: 900;
    --footer-menu-font-size: 18px;
    --footer-menu-letter-spacing: 0px;
    --footer-menu-line-height: 22px;
    --footer-menu-font-style: normal;
    --normal: 4px 4px 58px 0px rgba(0, 0, 0, 0.12);
  }